<article class="flex mx-auto max-w-xl flex-col items-start justify-between">

    <!-- Place l'image ici  -->
    <img src="{{ post.image }}" alt="..." class="mb-3 rounded aspect-video object-cover w-full">
    <div class="flex items-center gap-x-4 text-xs">

        <!-- Place la date ici -->
        <time datetime="2020-03-16" class="text-gray-500">{{ post.updatedAt }}</time>

        
        <a href="#"
            class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100"
        >
             <!-- Place la catégorie ici -->
            {{ category }}
        </a>
    </div>
    <div class="group relative">
        <h3 class="mt-3 text-lg/6 font-semibold text-gray-900 group-hover:text-gray-600">
            <a [routerLink]="['/articles', post.id]" routerLinkActive="router-link-active" > <!-- Place le lien de l'article ici -->
                <span class="absolute inset-0"></span>

                <!-- Place le titre ici -->
                {{ post.title }}
            </a>
        </h3>

        <!-- Le contenu de l'article ici -->
        <p class="mt-5 line-clamp-3 text-sm/6 text-gray-600">{{ post.content }}</p>
    </div>
    <div class="relative mt-8 flex items-center gap-x-4">
        <img src="/user.png"
            alt="" class="size-10 rounded-full bg-gray-50">
        <div class="text-sm/6">
            <p class="font-semibold text-gray-900">
                <a href="#">
                    <span class="absolute inset-0"></span>

                    <!-- Le nom de l'auteur ici -->
                    {{ author.fullName }}
                </a>
            </p>
        </div>
    </div>
</article>